<div class="flex grow flex-col overflow-y-auto bg-sky-600 px-4 pt-4 pb-3">
  <div class="w-fit mx-auto">
    <h1 class="text-4xl font-bold text-white mb-6">RIS</h1>
  </div>
  <nav class="flex flex-1 flex-col">
    <ul role="list" class="flex flex-1 flex-col">
      <!-- Users Link -->
      <%= link_to users_path, class: "group flex items-center rounded-lg p-3 text-white hover:bg-sky-700 transition-colors" do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z" />
        </svg>
        <span class="ml-3 text-sm font-medium">Users</span>
      <% end %>
      <%= link_to establishments_path, class: "group flex items-center rounded-lg p-3 text-white hover:bg-sky-700 transition-colors" do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 21V5a2 2 0 00-2-2H7a2 2 0 00-2 2v16m14 0h2m-2 0h-5m-9 0H3m2 0h5M9 7h1m-1 4h1m4-4h1m-1 4h1m-5 10v-5a1 1 0 011-1h2a1 1 0 011 1v5m-4 0h4" />
        </svg>
        <span class="ml-3 text-sm font-medium">Establishments</span>
      <% end %>
      <%= link_to services_path, class: "group flex items-center rounded-lg p-3 text-white hover:bg-sky-700 transition-colors" do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 13.255A23.931 23.931 0 0112 15c-3.183 0-6.22-.62-9-1.745M16 6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v2m4 6h.01M5 20h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
        </svg>
        <span class="ml-3 text-sm font-medium">Services</span>
      <% end %>
    </ul>
  </nav>
</div>